---
var imagenAlt = "Jeremías García";
var image = "therevgt-full.jpg";
---

<section class="relative pt-12 bg-blueGray-50">
  <div class="items-center flex flex-wrap">
    <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
      <img
        alt={imagenAlt}
        class="object-cover w-full rounded-t-lg h-auto md:h-auto md:w-48 md:rounded-none md:rounded-s-lgtransition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
        src={image}
      />
    </div>
    <div class="w-full md:w-5/12 m-auto px-2">
      <div
        class="relative flex flex-col gap-2 md:col-span-3 pb-4 text-base text-gray-500 dark:text-gray-400"
      >
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Jeremías García conocido en el mundo del desarrollo como
          <span class="text-[#1999fc]">TheRevGt</span>

          . Empecé en el campo de ingeniero de software desde el año 2020 como
          freelance.
        </p>
        <p>
          Dentro de mi trayectoria como ingeniero de software he tenido la
          oportunidad de colaborar con COLUA R.L. principalmente como consultor
          externo.
        </p>
      </div>
    </div>
  </div>
</section>
