---
import Badge from "./elements/Badge.astro";
import IconBg from "./elements/IconBg.astro";
import LaravelIcon from "./Icons/Laravel.astro";
import LivewireIcon from "./Icons/Livewire.astro";
import AlpineJsIcon from "./Icons/AlpineJs.astro";
import BootstrapIcon from "./Icons/Bootstrap.astro";
import ExpressJsIcon from "./Icons/ExpressJs.astro";
import TailwindIcon from "./Icons/Tailwind.astro";
import IconRev from "./Icons/IconRev.astro";
import MailIcon from "./Icons/Mail.astro";
import LinkedIn from "./Icons/LinkedIn.astro";
import CceeIcon from "./Icons/Ccee.astro";
---

<section>
  <div aria-label="avatar" class="flex space-x-4 items-center py-10 m-auto">
    <img
      src="therevgt.jpg"
      alt="avatar TherevGt"
      class="my-2 object-cover size-36 rounded-full duration-500 ms:scale-110 md:scale-150 lg:scale-150 xl:scale-150 md:mx-5 md:hover:scale-125 hover:scale-110"
    />

    <div class="space-y-2 flex flex-col flex-1 sm:px-2 md:px-5">
      <div
        class="font-medium relative leading-tight text-black dark:text-white"
      >
        <span class="flex">
          <IconRev class="size-8 md:size-14" />
          <span class="text-xl relative pr-8 pt-2 md:pt-4 pl-2"> TheRevGt</span>
        </span>
      </div>
      <p
        class="text-base leading-tight text-[#804529] dark:text-[#FA8550] pt-2"
      >
        Colegiado CCEE 32908
      </p>
      <p
        class="text-base leading-tight text-[#141824] dark:text-[#199AFC] pb-2"
      >
        jgatzul@gmail.com
      </p>
      
      <Badge
        href="mailto:jgatzul@gmail.com?subject=Estoy interesado en tu perfil&body="
      >
        <MailIcon class="size=10 mx-2" />Comunicate</Badge
      >
      <Badge href="https://www.linkedin.com/in/therevgt">
        <LinkedIn class="size=10 mx-2" />Perfil</Badge
      >
    </div>
  </div>
  <div class="flex gap-x-2 sm:pt-3 px-2">
    <IconBg>
      <LaravelIcon class="size-6 drop-shadow-2xl" />
    </IconBg>
    <IconBg>
      <LivewireIcon class="size-6 drop-shadow-2xl" />
    </IconBg>
    <IconBg>
      <ExpressJsIcon
        class="size-6 drop-shadow-2xl stroke-black fill-black dark:fill-white dark:stroke-white"
      />
    </IconBg>
    <IconBg>
      <AlpineJsIcon class="size-6 drop-shadow-2xl" />
    </IconBg>
    <IconBg>
      <BootstrapIcon class="size-6 drop-shadow-2xl" />
    </IconBg>
    <IconBg>
      <TailwindIcon class="size-6 drop-shadow-2xl" />
    </IconBg>
  </div>
  <p
    class="text-sm md:text-base my-6 md:py-7 lg:py-8 text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300 leading-6"
  >
    Con más de
    <span class="text-[#1999fc]">3 años de experiencia</span>
    como programador full-stack freelance, originario de Totonicapán, Guatemala.
    Especializado en crear
    <span class="text-[#1999fc]">sistemas internos de tipo (ERP)</span>
    para empresas y con experiencia en docencia.
  </p>
</section>
