<span
  class="shadow-sm border-gray-400 border rounded-full p-2 text-center
  dark:border-gray-200 hover:bg-black/5 dark:hover:bg-white/5
  backdrop-filter backdrop-blur-lg undefined bg-opacity-20"
>
  <slot />
</span>
